* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.close {
  visibility: hidden;
}

header .nav {
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

header .nav .navtop {
  height: 30px;
}

header .nav .navtop .img img {
  height: 25px;
}

header .nav .navtop .links a {
  margin-left: 30px;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 200;
}

header .nav .navtop .links a:hover {
  text-decoration: underline;
}

header .nav .navtop .bascet i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

header .nav .navtop .bascet i sup {
  font-size: 12px;
}

header .nav .navtop .bascet a {
  margin-left: 20px;
  text-decoration: none;
  color: #1b1b1b;
}

main #head .head {
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

main #head .head .text h1 {
  font-size: 50px;
  font-weight: 250;
  font-style: italic;
}

main #first-accord .first-accord {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #d6d5d5;
}

main #first-accord .first-accord .accordion {
  background-color: white;
  border: 1px solid #b8b8b8;
  color: #1b1b1b;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 250;
  font-style: italic;
  margin-top: 20px;
}

main #first-accord .first-accord .accordion i {
  margin-right: 10px;
}

main #first-accord .first-accord .active, main #first-accord .first-accord .accordion:hover {
  background-color: #f34f3f;
  color: white;
}

main #first-accord .first-accord .panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

main #second-accord .second-accord {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #d6d5d5;
}

main #second-accord .second-accord .accordion {
  background-color: white;
  border: 1px solid #b8b8b8;
  color: #1b1b1b;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 250;
  font-style: italic;
  margin-top: 20px;
}

main #second-accord .second-accord .accordion i {
  margin-right: 10px;
}

main #second-accord .second-accord .active, main #second-accord .second-accord .accordion:hover {
  background-color: #f34f3f;
  color: white;
}

main #second-accord .second-accord .panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

footer .footer {
  background-color: #fefaf3;
  height: 400px;
}

footer .footer .info {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8b8b8b;
}

footer .footer .info a {
  display: block;
  margin-top: 15px;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 14px;
}

footer .footer .info a:hover {
  color: #f34f3f;
}

footer .footer .main-info p {
  color: #8b8b8b;
}

footer .footer .main-info a {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .footer .main-info a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=accordion.css.map */