* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .nav {
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .navtop {
  height: 30px;
}

header .nav .navtop .img img {
  height: 25px;
}

header .nav .navtop .links a {
  margin-left: 30px;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 200;
}

header .nav .navtop .links a:hover {
  text-decoration: underline;
}

header .nav .navtop .links .dropbtn2 {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .nav .navtop .links .dropdown2 {
  position: relative;
  display: inline-block;
}

header .nav .navtop .links .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .nav .navtop .links .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  display: block;
}

header .nav .navtop .links .dropdown-content2 a:hover {
  text-decoration: underline;
}

header .nav .navtop .links .dropdown2:hover .dropdown-content2 {
  display: block;
}

header .nav .navtop .links .dropdown2:hover .dropbtn2 {
  text-decoration: underline;
}

header .nav .navtop .links .dropbtn3 {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 30PX;
}

header .nav .navtop .links .dropdown3 {
  position: relative;
  display: inline-block;
}

header .nav .navtop .links .dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .nav .navtop .links .dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  display: block;
}

header .nav .navtop .links .dropdown-content3 a:hover {
  text-decoration: underline;
}

header .nav .navtop .links .dropdown3:hover .dropdown-content3 {
  display: block;
}

header .nav .navtop .links .dropdown3:hover .dropbtn3 {
  text-decoration: underline;
}

header .nav .navtop .links .dropbtn4 {
  background-color: white;
  color: #1b1b1b;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .nav .navtop .links .dropdown4 {
  position: relative;
  display: inline-block;
}

header .nav .navtop .links .dropdown-content4 {
  width: 80vw;
  height: 25vw;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .nav .navtop .links .dropdown-content4 a {
  color: #1b1b1b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 80px;
}

header .nav .navtop .links .dropdown4:hover .dropdown-content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav .navtop .links .dropdown4:hover .dropbtn4 {
  text-decoration: underline;
}

header .nav .navtop .links .menu .dropdown4 .down {
  font-size: 13px;
  margin-left: 2px;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul {
  color: black;
  margin-top: 20px;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul li {
  margin-top: 10px;
  display: block;
  margin-right: 50px !important;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul li:hover {
  text-decoration: underline;
}

header .nav .navtop .bascet i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

header .nav .navtop .bascet i sup {
  font-size: 12px;
}

header .nav .navtop .bascet a {
  margin-left: 20px;
  text-decoration: none;
  color: #1b1b1b;
}

main #head .head {
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

main #head .head .text h1 {
  font-size: 50px;
  font-weight: 250;
  font-style: italic;
}

main #head .head .text p {
  font-size: 18px;
  font-weight: 250;
  font-style: italic;
}

main #total .buttons {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #total .buttons .left-btn {
  display: inline-block;
}

main #total .buttons .left-btn input {
  width: 250px;
  height: 45px;
  padding: 20px;
  outline: none;
  border: 1px solid black;
  margin-right: -4;
}

main #total .buttons .left-btn button {
  width: 200px;
  height: 45px;
  border: none;
  background-color: #413e3e;
  color: white;
  margin-left: 0;
  font-size: 14px;
  font-style: italic;
}

main #total .buttons .right-btn {
  float: right;
}

main #total .buttons .right-btn button {
  width: 200px;
  height: 45px;
  border: none;
  background-color: #f34f3f;
  color: white;
  margin-left: 0;
  font-size: 14px;
  font-style: italic;
}

main #total .total {
  padding-top: 50px;
  padding-bottom: 150px;
}

main #total .total h1 {
  font-weight: 250;
  font-style: italic;
}

main #total .total h5 {
  font-weight: 300;
  font-style: italic;
}

main #total .total p {
  color: #b6b6b6;
}

main #total .total button {
  width: 260px;
  height: 50px;
  background-color: #f34f3f;
  color: white;
  border: none;
  margin-top: 30px;
  font-size: 14px;
  font-style: italic;
}

main #total .total .subtotal {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 10px;
}

main #total .total .shipping {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}

main #total .total .total-txt {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer .footer {
  background-color: #fefaf3;
  height: 400px;
}

footer .footer .info {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8b8b8b;
}

footer .footer .info a {
  display: block;
  margin-top: 15px;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 14px;
}

footer .footer .info a:hover {
  color: #f34f3f;
}

footer .footer .main-info p {
  color: #8b8b8b;
}

footer .footer .main-info a {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .footer .main-info a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=cart.css.map */