*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    .nav{
        height: 100px;
        justify-content: center;
        align-items: center;
        .navtop{
            height: 30px;
            .img{
                img{
                    height: 25px;
                    
                }
            }
            .links{
                a{
                    margin-left: 30px;
                    text-decoration: none;
                    color: #1b1b1b;
                    font-size: 15px;
                    font-weight: 200;
                }
                a:hover{
                    text-decoration: underline;
                }




                .dropbtn2 {
                    background-color: white;
                    color: black;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                  }
                  .dropdown2 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content2{
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content2 a {
                    color: black;
                    padding: 12px 16px;
                    display: block;
                  }
                  .dropdown-content2 a:hover {
                    text-decoration: underline;
                  }
                  .dropdown2:hover .dropdown-content2 {
                    display: block;
                  }
                  .dropdown2:hover .dropbtn2 {
                    text-decoration: underline;
                  }





                  .dropbtn3 {
                    background-color: white;
                    color: black;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    margin-left: 30PX;
                  }
                  .dropdown3 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content3{
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content3 a {
                    color: black;
                    padding: 12px 16px;
                    display: block;
                  }
                  .dropdown-content3 a:hover {
                    text-decoration: underline;
                  }
                  .dropdown3:hover .dropdown-content3 {
                    display: block;
                  }
                  .dropdown3:hover .dropbtn3 {
                    text-decoration: underline;
                  }






                
                .dropbtn4 {
                    background-color: white;
                    color: #1b1b1b;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                  }
                  .dropdown4 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content4 {
                    width: 80vw;
                    height: 25vw;
                    display: none;
                    position: absolute;
                    background-color: white;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content4 a {
                    color: #1b1b1b;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    margin-left: 80px;
                  }
                  .dropdown4:hover .dropdown-content4 {
                    display: flex;
                    margin-left: -400px;
                    justify-content: center;
                  }
                  .dropdown4:hover .dropbtn4 {
                      text-decoration: underline;
                  }
                  .menu .dropdown4 .down{
                    font-size: 13px;
                    margin-left: 2px;
                  }
                
                 .dropdown4 .dropdown-content4 a ul{
                     color: black;
                     margin-top: 20px;
                 }
                
                 .dropdown4 .dropdown-content4 a ul li{
                     margin-top: 10px;
                     display: block;
                     margin-right: 50px !important;
                 }
                
                 .dropdown4 .dropdown-content4 a ul li:hover{
                     text-decoration: underline;
                 }


            }
            .bascet{
                i{
                    margin-left: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    sup{
                        font-size: 12px;
                    }
                }
                a{
                    margin-left: 20px;
                    text-decoration: none;
                    color: #1b1b1b;
                }
            }
        }
    }
}





main{


    #head{
        .head{
            background-color: #f7f7f7;
            padding-top: 80px;
            padding-bottom: 80px;
            .text{
                h1{
                    font-size: 50px;
                    font-weight: 250;
                    font-style: italic;
                }
                p{
                    font-size: 18px;
                    font-weight: 250;
                    font-style: italic;
                }
            }
        }
    }


    #total{
        .buttons{
            padding-top: 50px;
            display: flex;
            .left-btn{
                display: inline-block; 
                input{
                    width: 250px;
                    height: 45px;
                    padding: 20px;
                    outline: none;
                    border: 1px solid black;
                    margin-right: -4;
                }
                button{
                    width: 200px;
                    height: 45px;
                    border: none;
                    background-color: rgb(65, 62, 62);
                    color: white;
                    margin-left: 0;
                    font-size: 14px;
                    font-style: italic;
                }
            }
            .right-btn{
                float: right;
                button{
                    width: 200px;
                    height: 45px;
                    border: none;
                    background-color: #f34f3f;
                    color: white;
                    margin-left: 0;
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }
        .total{
            padding-top: 50px;
            padding-bottom: 150px;
            h1{
                    font-weight: 250;
                    font-style: italic;
            }
            h5{
                font-weight:300;
                font-style: italic;
            }
            p{
                color: rgb(182, 182, 182);
            }
            button{
                width: 260px;
                height: 50px;
                background-color: #f34f3f;
                color: white;
                border: none;
                margin-top: 30px;
                font-size: 14px;
                font-style: italic;
            }
            .subtotal{
                border-bottom: 1px solid #ccc;
                padding-top: 20px;
                padding-bottom: 10px;
            }
            .shipping{
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .total-txt{
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }

}




footer{
    .footer{
        background-color: #fefaf3;
        height: 400px;
        .info{
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #8b8b8b;
            a{
                display: block;
                margin-top: 15px;
                color: #8b8b8b;
                text-decoration: none;
                font-size: 14px;
            }
            a:hover{
                color: #f34f3f;
            }
        }
        .main-info{
            p{
                color: #8b8b8b;
            }
            a{
                float: right;
                margin-left: 20px;
                text-decoration: none;
                color: #8b8b8b;
            }
            a:hover{
                color: #f34f3f;
            }
        }
    }
}