*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{


    #head{
        .head{
            background-color: #f7f7f7;
            padding-top: 80px;
            padding-bottom: 80px;
            .text{
                h1{
                    font-size: 50px;
                    font-weight: 250;
                    font-style: italic;
                }
                p{
                    font-size: 18px;
                    font-weight: 250;
                    font-style: italic;
                }
            }
        }
    }


    #total{
        .buttons{
            padding-top: 50px;
            display: flex;
            .left-btn{
                display: inline-block; 
                input{
                    width: 250px;
                    height: 45px;
                    padding: 20px;
                    outline: none;
                    border: 1px solid black;
                    margin-right: -4;
                }
                button{
                    width: 200px;
                    height: 45px;
                    border: none;
                    background-color: rgb(65, 62, 62);
                    color: white;
                    margin-left: 0;
                    font-size: 14px;
                    font-style: italic;
                }
            }
            .right-btn{
                float: right;
                button{
                    width: 200px;
                    height: 45px;
                    border: none;
                    background-color: #f34f3f;
                    color: white;
                    margin-left: 0;
                    font-size: 14px;
                    font-style: italic;
                }
            }
        }
        .total{
            padding-top: 50px;
            padding-bottom: 150px;
            h1{
                    font-weight: 250;
                    font-style: italic;
            }
            h5{
                font-weight:300;
                font-style: italic;
            }
            p{
                color: rgb(182, 182, 182);
            }
            button{
                width: 260px;
                height: 50px;
                background-color: #f34f3f;
                color: white;
                border: none;
                margin-top: 30px;
                font-size: 14px;
                font-style: italic;
            }
            .subtotal{
                border-bottom: 1px solid #ccc;
                padding-top: 20px;
                padding-bottom: 10px;
            }
            .shipping{
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .total-txt{
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        }
    }

}




footer{
    .footer{
        background-color: #fefaf3;
        height: 400px;
        .info{
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #8b8b8b;
            a{
                display: block;
                margin-top: 15px;
                color: #8b8b8b;
                text-decoration: none;
                font-size: 14px;
            }
            a:hover{
                color: #f34f3f;
            }
        }
        .main-info{
            p{
                color: #8b8b8b;
            }
            a{
                float: right;
                margin-left: 20px;
                text-decoration: none;
                color: #8b8b8b;
            }
            a:hover{
                color: #f34f3f;
            }
        }
    }
}