*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.close{
    visibility: hidden;
}

header{
    .nav{
        height: 100px;
        justify-content: center;
        align-items: center;
        .navtop{
            height: 30px;
            .img{
                img{
                    height: 25px;
                    
                }
            }
            .links{
                a{
                    margin-left: 30px;
                    text-decoration: none;
                    color: #1b1b1b;
                    font-size: 15px;
                    font-weight: 200;
                }
                a:hover{
                    text-decoration: underline;
                }




                .dropbtn2 {
                    background-color: white;
                    color: black;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                  }
                  .dropdown2 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content2{
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content2 a {
                    color: black;
                    padding: 12px 16px;
                    display: block;
                  }
                  .dropdown-content2 a:hover {
                    text-decoration: underline;
                  }
                  .dropdown2:hover .dropdown-content2 {
                    display: block;
                  }
                  .dropdown2:hover .dropbtn2 {
                    text-decoration: underline;
                  }





                  .dropbtn3 {
                    background-color: white;
                    color: black;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    margin-left: 30PX;
                  }
                  .dropdown3 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content3{
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content3 a {
                    color: black;
                    padding: 12px 16px;
                    display: block;
                  }
                  .dropdown-content3 a:hover {
                    text-decoration: underline;
                  }
                  .dropdown3:hover .dropdown-content3 {
                    display: block;
                  }
                  .dropdown3:hover .dropbtn3 {
                    text-decoration: underline;
                  }






                
                .dropbtn4 {
                    background-color: white;
                    color: #1b1b1b;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                  }
                  .dropdown4 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content4 {
                    width: 80vw;
                    height: 25vw;
                    display: none;
                    position: absolute;
                    background-color: white;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content4 a {
                    color: #1b1b1b;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    margin-left: 80px;
                  }
                  .dropdown4:hover .dropdown-content4 {
                    display: flex;
                    margin-left: -400px;
                    justify-content: center;
                  }
                  .dropdown4:hover .dropbtn4 {
                      text-decoration: underline;
                  }
                  .menu .dropdown4 .down{
                    font-size: 13px;
                    margin-left: 2px;
                  }
                
                 .dropdown4 .dropdown-content4 a ul{
                     color: black;
                     margin-top: 20px;
                 }
                
                 .dropdown4 .dropdown-content4 a ul li{
                     margin-top: 10px;
                     display: block;
                     margin-right: 50px !important;
                 }
                
                 .dropdown4 .dropdown-content4 a ul li:hover{
                     text-decoration: underline;
                 }


            }
            .bascet{
                i{
                    margin-left: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    sup{
                        font-size: 12px;
                    }
                }
                a{
                    margin-left: 20px;
                    text-decoration: none;
                    color: #1b1b1b;
                }
            }
        }
    }
}




main{
    


    #slide{
        .slide{
            background-color: #f7f7f7;
            .slide-left{
                font-weight: 150;
                font-style: italic;
                h1{
                    font-size: 45px;
                }
                p{
                    font-size: 20px;
                }
                img{

                }
            }
            .slide-right{
                img{
                    width: 100%;
                    background-color: #f7f7f7;
                }
            }
        }
    }


    #product{

        .product{
            padding-top: 60px;
            padding-bottom: 100px;
            .link{
                margin-bottom: 30px;
                a{
                    margin-left: 20px;
                    text-decoration: none;
                    color: #1b1b1b;
                    font-weight: 200;
                    font-size: 16px;
                }
                a:hover{
                    color: #f34f3f;
                }
                span{
                    float: right;
                    i{
                        margin-left: 10px;
                    }
                }
            }
            .product-main{
                text-align: center;
                img{
                    width: 100%;
                }
                .text{
                    margin-top: 20px;
                    margin-bottom: 30px;
                    p{

                    }
                    span{
                        color: #8b8b8b;
                        font-size: 15px;
                    }
                }
            }
        }
    }


    #video-info{
        .video-info{
            font-weight: 150;
            background-color: #f8f8f8;
            font-style: italic;
            padding-top: 100px;
            padding-bottom: 100px;
            .img{
                img{
                    width: 100%;
                    padding: 20px;
                }
            }
            .head{
                margin-top: 30px;
            }
            .main{
                margin-top: 30px;
                font-size: 18px;
            }
            .footer{
                margin-top: 30px;
                span{
                    margin-left: 10px;
                    font-size: 18px;
                }
            }
        }
    }


    #expert{
        .expert{
            text-align: center;
            font-weight: 200;
            font-style: italic;
            margin-bottom: 120px;
            margin-top: 100px;
            .head{
                margin-bottom: 50px;
                p{
                    margin-top: 20px;
                }
            }
            .expert-info{
                p{
                    margin-top: 20px;
                }
                span{
                    font-size: 13px;
                }
            }
        }
    }


    #simple-carusel{
        .carusel{
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #8b8b8b;
            i{
                font-size: 30px;
            }
            i:hover{
                color: black;
            }
            .first-main{
                text-align: center;
                width: 40%;
                h4{
                    font-weight: 200;
                    font-style: italic;
                    margin-top: 10px;
                    color: #1b1b1b;
                }
                p{
                    margin-top: 20px;
                    color: #1b1b1b;
                }
                span{

                }
            }
            .second-main{
                text-align: center;
                width: 40%;
                h4{
                    font-weight: 200;
                    font-style: italic;
                    margin-top: 10px;
                    color: #1b1b1b;
                }
                p{
                    margin-top: 20px;
                    color: #1b1b1b;
                }
                span{

                }
            }
        }
    }


    #blog{
        .blog{
            background-color: #f8f8f8;
            padding-top: 50px;
            .head{
                text-align: center;
                font-weight: 200;
                h1{
                    margin-bottom: 30px;
                }
            }
            .blog-info{
                margin-top: 50px;
                padding-bottom: 130px;
                
                .img{
                    width: 100%;
                    overflow: hidden;
                    margin: 0 auto;
                    img{
                        width: 100%;
                        transition: 1s all ease-in-out;
                    }
                }
                .img:hover img{
                    transform: scale(1.5);
                }
                .text{
                    text-align: center;
                    font-weight: 200;
                    margin-top: 30px;
                }
            }
        }
    }
}



footer{
    .footer{
        background-color: #fefaf3;
        height: 400px;
        .info{
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #8b8b8b;
            a{
                display: block;
                margin-top: 15px;
                color: #8b8b8b;
                text-decoration: none;
                font-size: 14px;
            }
            a:hover{
                color: #f34f3f;
            }
        }
        .main-info{
            p{
                color: #8b8b8b;
            }
            a{
                float: right;
                margin-left: 20px;
                text-decoration: none;
                color: #8b8b8b;
            }
            a:hover{
                color: #f34f3f;
            }
        }
    }
}