* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.close {
  visibility: hidden;
}

header .nav {
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .navtop {
  height: 30px;
}

header .nav .navtop .img img {
  height: 25px;
}

header .nav .navtop .links a {
  margin-left: 30px;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 200;
}

header .nav .navtop .links a:hover {
  text-decoration: underline;
}

header .nav .navtop .links .dropbtn4 {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .nav .navtop .links .dropdown4 {
  position: relative;
  display: inline-block;
}

header .nav .navtop .links .dropdown-content4 {
  width: 100vw;
  height: 25vw;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .nav .navtop .links .dropdown-content4 a {
  color: #233a95;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 80px;
}

header .nav .navtop .links .dropdown-content4 a:hover {
  color: #2BBEF9;
}

header .nav .navtop .links .dropdown4:hover .dropdown-content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -735px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav .navtop .links .dropdown4:hover .dropbtn4 {
  color: #2bbef9;
  background-color: #e4eaec;
  border-radius: 2.5rem;
}

header .nav .navtop .links .menu .dropdown4 .down {
  font-size: 13px;
  margin-left: 2px;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul {
  color: black;
  margin-top: 20px;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul li {
  margin-top: 10px;
  display: block;
  margin-right: 50px !important;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul li:hover {
  color: #2bbef9;
}

header .nav .navtop .bascet i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

header .nav .navtop .bascet i sup {
  font-size: 12px;
}

header .nav .navtop .bascet a {
  margin-left: 20px;
  text-decoration: none;
  color: #1b1b1b;
}

main #product .product {
  padding-top: 60px;
  padding-bottom: 100px;
}

main #product .product .link {
  margin-bottom: 30px;
}

main #product .product .link a {
  margin-left: 20px;
  text-decoration: none;
  color: #1b1b1b;
  font-weight: 200;
  font-size: 16px;
}

main #product .product .link a:hover {
  color: #f34f3f;
}

main #product .product .link span {
  float: right;
}

main #product .product .link span i {
  margin-left: 10px;
}

main #product .product .product-main {
  text-align: center;
}

main #product .product .product-main img {
  width: 100%;
}

main #product .product .product-main .text {
  margin-top: 20px;
  margin-bottom: 30px;
}

main #product .product .product-main .text span {
  color: #8b8b8b;
  font-size: 15px;
}

main #video-info .video-info {
  font-weight: 150;
  background-color: #f8f8f8;
  font-style: italic;
  padding-top: 100px;
  padding-bottom: 100px;
}

main #video-info .video-info .img img {
  width: 100%;
  padding: 20px;
}

main #video-info .video-info .head {
  margin-top: 30px;
}

main #video-info .video-info .main {
  margin-top: 30px;
  font-size: 18px;
}

main #video-info .video-info .footer {
  margin-top: 30px;
}

main #video-info .video-info .footer span {
  margin-left: 10px;
  font-size: 18px;
}

main #expert .expert {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 120px;
  margin-top: 100px;
}

main #expert .expert .head {
  margin-bottom: 50px;
}

main #expert .expert .head p {
  margin-top: 20px;
}

main #expert .expert .expert-info p {
  margin-top: 20px;
}

main #expert .expert .expert-info span {
  font-size: 13px;
}

main #simple-carusel .carusel {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8b8b8b;
}

main #simple-carusel .carusel i {
  font-size: 30px;
}

main #simple-carusel .carusel i:hover {
  color: black;
}

main #simple-carusel .carusel .first-main {
  text-align: center;
  width: 40%;
}

main #simple-carusel .carusel .first-main h4 {
  font-weight: 200;
  font-style: italic;
  margin-top: 10px;
  color: #1b1b1b;
}

main #simple-carusel .carusel .first-main p {
  margin-top: 20px;
  color: #1b1b1b;
}

main #simple-carusel .carusel .second-main {
  text-align: center;
  width: 40%;
}

main #simple-carusel .carusel .second-main h4 {
  font-weight: 200;
  font-style: italic;
  margin-top: 10px;
  color: #1b1b1b;
}

main #simple-carusel .carusel .second-main p {
  margin-top: 20px;
  color: #1b1b1b;
}

main #blog .blog {
  background-color: #f8f8f8;
  padding-top: 50px;
}

main #blog .blog .head {
  text-align: center;
  font-weight: 200;
}

main #blog .blog .head h1 {
  margin-bottom: 30px;
}

main #blog .blog .blog-info {
  margin-top: 50px;
  padding-bottom: 130px;
}

main #blog .blog .blog-info .img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

main #blog .blog .blog-info .img img {
  width: 100%;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

main #blog .blog .blog-info .img:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main #blog .blog .blog-info .text {
  text-align: center;
  font-weight: 200;
  margin-top: 30px;
}

footer .footer {
  background-color: #fefaf3;
  height: 400px;
}

footer .footer .info {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8b8b8b;
}

footer .footer .info a {
  display: block;
  margin-top: 15px;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 14px;
}

footer .footer .info a:hover {
  color: #f34f3f;
}

footer .footer .main-info p {
  color: #8b8b8b;
}

footer .footer .main-info a {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .footer .main-info a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=home.css.map */