* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.close {
  visibility: hidden;
}

main #head .head {
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

main #head .head .text h1 {
  font-size: 50px;
  font-weight: 250;
  font-style: italic;
}

main #head .head .text p {
  color: #f7f7f7;
}

main #product-info .product-info {
  padding-top: 100px;
  padding-bottom: 100px;
}

main #product-info .product-info .list-img img {
  width: 100%;
}

main #product-info .product-info .list-img .small-img {
  padding: 18px;
}

main #product-info .product-info .list-img .small-img .image {
  margin-top: 10px;
}

main #product-info .product-info .list-right {
  font-weight: 200;
  font-style: italic;
}

main #product-info .product-info .list-right .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #product-info .product-info .list-right .cart .quantity {
  height: 50px;
  width: 50%;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #product-info .product-info .list-right .cart .quantity p {
  margin-top: 10px;
  margin-left: 20px;
}

main #product-info .product-info .list-right .cart .quantity .quantity-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20;
}

main #product-info .product-info .list-right .cart .quantity .quantity-btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #product-info .product-info .list-right .cart button {
  width: 150px;
  background-color: black;
  color: white;
  border: none;
}

main #tab .tab {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-weight: 200;
  font-style: italic;
  padding-top: 100px;
  padding-bottom: 100px;
}

main #tab .tab input {
  outline: none;
}

main #tab .tab .tab-pane3 {
  display: none;
}

main #tab .tab .nav button {
  color: #1b1b1b;
}

main #tab .tab .nav button:hover {
  background-color: #f34f3f;
  color: white;
}

main #tab .tab .nav .active {
  background-color: #f34f3f;
  color: white;
  border: 1px solid #ccc;
}

main #products .products {
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  border-top: 1px solid #ccc;
}

main #products .products h5 {
  margin-bottom: 50px;
  float: left;
}

main #products .products p {
  text-align: center;
  margin-top: 20px;
  color: #1b1b1b;
  font-weight: 300;
}

main #products .products span {
  text-align: center;
}

footer .footer {
  background-color: #fefaf3;
  height: 400px;
}

footer .footer .info {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8b8b8b;
}

footer .footer .info a {
  display: block;
  margin-top: 15px;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 14px;
}

footer .footer .info a:hover {
  color: #f34f3f;
}

footer .footer .main-info p {
  color: #8b8b8b;
}

footer .footer .main-info a {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .footer .main-info a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=list.css.map */