*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.close{
    visibility: hidden;
}

main{


    #head{
        .head{
            background-color: #f7f7f7;
            padding-top: 80px;
            padding-bottom: 80px;
            .text{
                h1{
                    font-size: 50px;
                    font-weight: 250;
                    font-style: italic;
                }
            }
        }
    }
    
    
    #first-bar{
        .first-bar{
            border-bottom: 1px solid #ccc;
            padding-top: 100px;
            padding-bottom: 100px;
            font-style: italic;
            ul{
                list-style: none;
                li{
                    margin-top: 10px;
                    h5{
                        font-weight: 200;
                        font-size: 18px;
                    }
                    .bar{
                        height: 4px;
                        background: #ccc;
                    }
                    .bar span{
                        height: 4px;
                        float: left;
                    }
                    .growing{
                        background: red;
                        width: 95%;
                        animation: growing 2s;
                    }
                    
                    @keyframes growing{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 95%;
                        }
                    }
                    .watering{
                        background: red;
                        width: 80%;
                        animation: watering 2s;
                    }
                    @keyframes watering{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 80%;
                        }
                    }
                    
                    .furtiziling{
                        background: red;
                        width: 55%;
                        animation: furtiziling 2s;
                    }
                    @keyframes furtiziling{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 55%;
                        }
                    }






                    .growing1{
                        background: red;
                        width: 95%;
                        animation: growing 2s;
                    }
                    
                    @keyframes growing1{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 95%;
                        }
                    }
                    .watering1{
                        background: red;
                        width: 80%;
                        animation: watering 2s;
                    }
                    @keyframes watering1{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 80%;
                        }
                    }
                    
                    .furtiziling1{
                        background: red;
                        width: 55%;
                        animation: furtiziling 2s;
                    }
                    @keyframes furtiziling1{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 55%;
                        }
                    }





                    .growing2{
                        background: red;
                        width: 95%;
                        animation: growing 2s;
                    }
                    
                    @keyframes growing2{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 95%;
                        }
                    }
                    .watering2{
                        background: red;
                        width: 80%;
                        animation: watering 2s;
                    }
                    @keyframes watering2{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 80%;
                        }
                    }
                    
                    .furtiziling2{
                        background: red;
                        width: 55%;
                        animation: furtiziling 2s;
                    }
                    @keyframes furtiziling2{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 55%;
                        }
                    }
                }
            }
            

        }
    }
    

    #second-bar{
        .second-bar{
            border-bottom: 1px solid #ccc;
            padding-top: 100px;
            padding-bottom: 100px;
            font-style: italic;
            ul{
                list-style: none;
                li{
                    margin-top: 10px;
                    h5{
                        font-weight: 200;
                        font-size: 18px;
                    }
                    .bar{
                        height: 4px;
                        background: black;
                    }
                    .bar span{
                        height: 4px;
                        float: left;
                    }
                    .growing2{
                        background: red;
                        width: 95%;
                        animation: growing 2s;
                    }
                    
                    @keyframes growing2{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 95%;
                        }
                    }
                    .watering2{
                        background: red;
                        width: 80%;
                        animation: watering 2s;
                    }
                    @keyframes watering2{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 80%;
                        }
                    }
                    
                    .furtiziling2{
                        background: red;
                        width: 55%;
                        animation: furtiziling 2s;
                    }
                    @keyframes furtiziling2{
                        0%{
                            width: 0%;
                        }
                        100%{
                            width: 55%;
                        }
                    }

                 }
          }
    
    }   }
}




footer{
    .footer{
        background-color: #fefaf3;
        height: 400px;
        .info{
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #8b8b8b;
            a{
                display: block;
                margin-top: 15px;
                color: #8b8b8b;
                text-decoration: none;
                font-size: 14px;
            }
            a:hover{
                color: #f34f3f;
            }
        }
        .main-info{
            p{
                color: #8b8b8b;
            }
            a{
                float: right;
                margin-left: 20px;
                text-decoration: none;
                color: #8b8b8b;
            }
            a:hover{
                color: #f34f3f;
            }
        }
    }
}