* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .nav {
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .navtop {
  height: 30px;
}

header .nav .navtop .img img {
  height: 25px;
}

header .nav .navtop .links a {
  margin-left: 30px;
  text-decoration: none;
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 200;
}

header .nav .navtop .links a:hover {
  text-decoration: underline;
}

header .nav .navtop .links .dropbtn2 {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .nav .navtop .links .dropdown2 {
  position: relative;
  display: inline-block;
}

header .nav .navtop .links .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .nav .navtop .links .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  display: block;
}

header .nav .navtop .links .dropdown-content2 a:hover {
  text-decoration: underline;
}

header .nav .navtop .links .dropdown2:hover .dropdown-content2 {
  display: block;
}

header .nav .navtop .links .dropdown2:hover .dropbtn2 {
  text-decoration: underline;
}

header .nav .navtop .links .dropbtn3 {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 30PX;
}

header .nav .navtop .links .dropdown3 {
  position: relative;
  display: inline-block;
}

header .nav .navtop .links .dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .nav .navtop .links .dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  display: block;
}

header .nav .navtop .links .dropdown-content3 a:hover {
  text-decoration: underline;
}

header .nav .navtop .links .dropdown3:hover .dropdown-content3 {
  display: block;
}

header .nav .navtop .links .dropdown3:hover .dropbtn3 {
  text-decoration: underline;
}

header .nav .navtop .links .dropbtn4 {
  background-color: white;
  color: #1b1b1b;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header .nav .navtop .links .dropdown4 {
  position: relative;
  display: inline-block;
}

header .nav .navtop .links .dropdown-content4 {
  width: 80vw;
  height: 25vw;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .nav .navtop .links .dropdown-content4 a {
  color: #1b1b1b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 80px;
}

header .nav .navtop .links .dropdown4:hover .dropdown-content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav .navtop .links .dropdown4:hover .dropbtn4 {
  text-decoration: underline;
}

header .nav .navtop .links .menu .dropdown4 .down {
  font-size: 13px;
  margin-left: 2px;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul {
  color: black;
  margin-top: 20px;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul li {
  margin-top: 10px;
  display: block;
  margin-right: 50px !important;
}

header .nav .navtop .links .dropdown4 .dropdown-content4 a ul li:hover {
  text-decoration: underline;
}

header .nav .navtop .bascet i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

header .nav .navtop .bascet i sup {
  font-size: 12px;
}

header .nav .navtop .bascet a {
  margin-left: 20px;
  text-decoration: none;
  color: #1b1b1b;
}

main #head .head {
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

main #head .head .text h1 {
  font-size: 50px;
  font-weight: 250;
  font-style: italic;
}

main #product-hover .product-hover {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #ccc;
}

main #product-hover .product-hover .product-main {
  text-align: center;
}

main #product-hover .product-hover .product-main .hovim {
  position: relative;
}

main #product-hover .product-hover .product-main .hovim img {
  width: 100%;
}

main #product-hover .product-hover .product-main .hovim img:hover {
  opacity: 0.2;
}

main #product-hover .product-hover .product-main .hovim .text {
  position: absolute;
  top: 30%;
  left: 25%;
  visibility: hidden;
}

main #product-hover .product-hover .product-main .hovim .text p {
  color: #bbbbbb;
  font-size: 14px;
  margin-top: 10px;
}

main #product-hover .product-hover .product-main .hovim .text span {
  font-size: 15px;
}

main #product-hover .product-hover .product-main .hovim .text button {
  width: 170px;
  height: 40px;
  background-color: #f34f3f;
  color: white;
  border: none;
  font-size: 15px;
}

main #product-hover .product-hover .product-main .hovim:hover .text {
  visibility: visible;
}

main #product-hover .product-hover .product-main .hovim:hover .text:hover img {
  opacity: 0.2;
}

main #product-corusel .product-corusel {
  padding-top: 100px;
  padding-bottom: 100px;
}

main #product-corusel .product-corusel .owl-carousel {
  position: static;
}

main #product-corusel .product-corusel .container {
  position: relative;
}

main #product-corusel .product-corusel .owl-nav {
  top: 0;
  position: absolute;
  right: 10px;
}

main #product-corusel .product-corusel .homeSlider .item {
  text-align: center;
}

main #product-corusel .product-corusel .homeSlider .item .text {
  margin-top: 20px;
  margin-bottom: 30px;
}

main #product-corusel .product-corusel .homeSlider .item .text #addBtn {
  margin-right: 20px;
  visibility: hidden;
  cursor: pointer;
}

main #product-corusel .product-corusel .homeSlider .item .text #addBtn:hover {
  color: #f34f3f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #product-corusel .product-corusel .homeSlider .item .text #value {
  margin-right: 100px;
}

main #product-corusel .product-corusel .homeSlider .item .text p {
  font-size: 15px;
}

main #product-corusel .product-corusel .homeSlider .item .text span {
  color: #8b8b8b;
  font-size: 14px;
}

main #product-corusel .product-corusel .homeSlider .item:hover #value {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

main #product-corusel .product-corusel .homeSlider .item:hover #addBtn {
  visibility: visible;
  -webkit-transition: 1s;
  transition: 1s;
}

main #product-sixly .product-sixly {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid #ccc;
}

main #product-sixly .product-sixly .product-main {
  text-align: center;
}

main #product-sixly .product-sixly .product-main img {
  width: 100%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  overflow: hidden;
  margin: 0 auto;
}

main #product-sixly .product-sixly .product-main img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main #product-sixly .product-sixly .product-main .text {
  margin-top: 20px;
  margin-bottom: 30px;
}

main #product-sixly .product-sixly .product-main .text p {
  font-size: 15px;
  font-weight: 250;
  font-style: italic;
}

main #product-sixly .product-sixly .product-main .text span {
  color: #ccc;
  font-size: 13px;
}

footer .footer {
  background-color: #fefaf3;
  height: 400px;
}

footer .footer .info {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8b8b8b;
}

footer .footer .info a {
  display: block;
  margin-top: 15px;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 14px;
}

footer .footer .info a:hover {
  color: #f34f3f;
}

footer .footer .main-info p {
  color: #8b8b8b;
}

footer .footer .main-info a {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .footer .main-info a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=shop.css.map */