* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #head .head {
  background-color: #f7f7f7;
  padding-top: 80px;
  padding-bottom: 80px;
}

main #head .head .text h1 {
  font-size: 50px;
  font-weight: 250;
  font-style: italic;
}

main #product-hover .product-hover {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #ccc;
}

main #product-hover .product-hover .product-main {
  text-align: center;
}

main #product-hover .product-hover .product-main .hovim {
  position: relative;
}

main #product-hover .product-hover .product-main .hovim a img {
  width: 100%;
}

main #product-hover .product-hover .product-main .hovim a:hover {
  opacity: 0.2;
}

main #product-hover .product-hover .product-main .hovim .text {
  position: absolute;
  top: 30%;
  left: 25%;
  visibility: hidden;
}

main #product-hover .product-hover .product-main .hovim .text p {
  color: #bbbbbb;
  font-size: 14px;
  margin-top: 10px;
}

main #product-hover .product-hover .product-main .hovim .text span {
  font-size: 15px;
}

main #product-hover .product-hover .product-main .hovim .text button {
  width: 170px;
  height: 40px;
  background-color: #f34f3f;
  color: white;
  border: none;
  font-size: 15px;
}

main #product-hover .product-hover .product-main .hovim:hover .text {
  visibility: visible;
}

main #product-hover .product-hover .product-main .hovim:hover .text:hover img {
  opacity: 0.2;
}

main #product-corusel .product-corusel {
  padding-top: 100px;
  padding-bottom: 100px;
}

main #product-corusel .product-corusel .owl-carousel {
  position: static;
}

main #product-corusel .product-corusel .container {
  position: relative;
}

main #product-corusel .product-corusel .owl-nav {
  top: 0;
  position: absolute;
  right: 10px;
}

main #product-corusel .product-corusel .homeSlider .item {
  text-align: center;
}

main #product-corusel .product-corusel .homeSlider .item .text {
  margin-top: 20px;
  margin-bottom: 30px;
}

main #product-corusel .product-corusel .homeSlider .item .text p {
  font-size: 15px;
}

main #product-corusel .product-corusel .homeSlider .item .text span {
  color: #8b8b8b;
  font-size: 14px;
}

main #product-sixly .product-sixly {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid #ccc;
}

main #product-sixly .product-sixly .product-main {
  text-align: center;
}

main #product-sixly .product-sixly .product-main img {
  width: 100%;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  overflow: hidden;
  margin: 0 auto;
}

main #product-sixly .product-sixly .product-main img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main #product-sixly .product-sixly .product-main .text {
  margin-top: 20px;
  margin-bottom: 30px;
}

main #product-sixly .product-sixly .product-main .text p {
  font-size: 15px;
  font-weight: 250;
  font-style: italic;
}

main #product-sixly .product-sixly .product-main .text span {
  color: #ccc;
  font-size: 13px;
}

footer .footer {
  background-color: #fefaf3;
  height: 400px;
}

footer .footer .info {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8b8b8b;
}

footer .footer .info a {
  display: block;
  margin-top: 15px;
  color: #8b8b8b;
  text-decoration: none;
  font-size: 14px;
}

footer .footer .info a:hover {
  color: #f34f3f;
}

footer .footer .main-info p {
  color: #8b8b8b;
}

footer .footer .main-info a {
  float: right;
  margin-left: 20px;
  text-decoration: none;
  color: #8b8b8b;
}

footer .footer .main-info a:hover {
  color: #f34f3f;
}
/*# sourceMappingURL=shop.css.map */