*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    .nav{
        height: 100px;
        justify-content: center;
        align-items: center;
        .navtop{
            height: 30px;
            .img{
                img{
                    height: 25px;
                    
                }
            }
            .links{
                a{
                    margin-left: 30px;
                    text-decoration: none;
                    color: #1b1b1b;
                    font-size: 15px;
                    font-weight: 200;
                }
                a:hover{
                    text-decoration: underline;
                }




                .dropbtn2 {
                    background-color: white;
                    color: black;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                  }
                  .dropdown2 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content2{
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content2 a {
                    color: black;
                    padding: 12px 16px;
                    display: block;
                  }
                  .dropdown-content2 a:hover {
                    text-decoration: underline;
                  }
                  .dropdown2:hover .dropdown-content2 {
                    display: block;
                  }
                  .dropdown2:hover .dropbtn2 {
                    text-decoration: underline;
                  }





                  .dropbtn3 {
                    background-color: white;
                    color: black;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    margin-left: 30PX;
                  }
                  .dropdown3 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content3{
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content3 a {
                    color: black;
                    padding: 12px 16px;
                    display: block;
                  }
                  .dropdown-content3 a:hover {
                    text-decoration: underline;
                  }
                  .dropdown3:hover .dropdown-content3 {
                    display: block;
                  }
                  .dropdown3:hover .dropbtn3 {
                    text-decoration: underline;
                  }






                
                .dropbtn4 {
                    background-color: white;
                    color: #1b1b1b;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                  }
                  .dropdown4 {
                    position: relative;
                    display: inline-block;
                  }
                  .dropdown-content4 {
                    width: 80vw;
                    height: 25vw;
                    display: none;
                    position: absolute;
                    background-color: white;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  .dropdown-content4 a {
                    color: #1b1b1b;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    margin-left: 80px;
                  }
                  .dropdown4:hover .dropdown-content4 {
                    display: flex;
                    margin-left: -400px;
                    justify-content: center;
                  }
                  .dropdown4:hover .dropbtn4 {
                      text-decoration: underline;
                  }
                  .menu .dropdown4 .down{
                    font-size: 13px;
                    margin-left: 2px;
                  }
                
                 .dropdown4 .dropdown-content4 a ul{
                     color: black;
                     margin-top: 20px;
                 }
                
                 .dropdown4 .dropdown-content4 a ul li{
                     margin-top: 10px;
                     display: block;
                     margin-right: 50px !important;
                 }
                
                 .dropdown4 .dropdown-content4 a ul li:hover{
                     text-decoration: underline;
                 }


            }
            .bascet{
                i{
                    margin-left: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    sup{
                        font-size: 12px;
                    }
                }
                a{
                    margin-left: 20px;
                    text-decoration: none;
                    color: #1b1b1b;
                }
            }
        }
    }
}







main{


    #head{
        .head{
            background-color: #f7f7f7;
            padding-top: 80px;
            padding-bottom: 80px;
            .text{
                h1{
                    font-size: 50px;
                    font-weight: 250;
                    font-style: italic;
                }
            }
        }
    }


    #product-hover{
        .product-hover{
            padding-top: 100px;
            padding-bottom: 100px;
            border-bottom: 1px solid #ccc;
            .product-main{
                text-align: center;
                .hovim{
                    position: relative;
                    
                    img{
                        width: 100%;
                    }
                    img:hover{
                        opacity: 0.2;
                    }
                    
                    .text{
                        position: absolute;
                        top: 30%;
                        left: 25%;
                        visibility: hidden;
                        p{
                            color: rgb(187, 187, 187);
                            font-size: 14px;
                            margin-top: 10px;
                        }
                        span{
                            font-size: 15px;
                            
                        }
                        button{
                            width: 170px;
                            height: 40px;
                            background-color: #f34f3f;
                            color: white;
                            border: none;
                            font-size: 15px;
                        }
                    }
                }
                .hovim:hover .text{
                    visibility: visible;
                }
                .hovim:hover .text:hover img{
                    opacity: 0.2;
                }
            }
        }
    }


    #product-corusel{
        .product-corusel{
            padding-top: 100px;
            padding-bottom: 100px;
            .owl-carousel{
                position: static;
            }
            .container{
                position: relative;
            }
            
            .owl-nav{
                top: 0;
                position: absolute;
                right: 10px;
            }
            .homeSlider{
                .item{
                    text-align: center;
                    .text{
                        margin-top: 20px;
                        margin-bottom: 30px;
                        #addBtn{
                            margin-right: 20px;
                            visibility: hidden;
                            cursor: pointer;
                        }
                        #addBtn:hover{
                            color: #f34f3f;
                            transition: 0.5s;
                        }
                        #value{
                            margin-right: 100px;
                        }
                        p{
                            font-size: 15px;
                        }
                        span{
                            color: #8b8b8b;
                            font-size: 14px;
                        }
                    }
                }
                .item:hover #value{
                    display: none;
                    transition: 1s;
                }
                .item:hover #addBtn{
                    visibility: visible;
                    transition: 1s;
                }
            }

        }
    }


    #product-sixly{
        .product-sixly{
            padding-top: 100px;
            padding-bottom: 100px;
            border-top: 1px solid #ccc;
            .product-main{
                text-align: center;
                    img{
                        width: 100%;
                        transition: 0.4s all ease-in-out;
                        overflow: hidden;
                         margin: 0 auto;
                    }
                    img:hover{
                        transform: scale(1.05);
                    }
                
                .text{
                    margin-top: 20px;
                    margin-bottom: 30px;
                    p{
                        font-size: 15px;
                        font-weight: 250;
                        font-style: italic;
                    }
                    span{
                        color: #ccc;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}





footer{
    .footer{
        background-color: #fefaf3;
        height: 400px;
        .info{
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #8b8b8b;
            a{
                display: block;
                margin-top: 15px;
                color: #8b8b8b;
                text-decoration: none;
                font-size: 14px;
            }
            a:hover{
                color: #f34f3f;
            }
        }
        .main-info{
            p{
                color: #8b8b8b;
            }
            a{
                float: right;
                margin-left: 20px;
                text-decoration: none;
                color: #8b8b8b;
            }
            a:hover{
                color: #f34f3f;
            }
        }
    }
}