*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.close{
    visibility: hidden;
}

header{
    .nav{
        height: 100px;
        justify-content: center;
        align-items: center;
        background-color: white;
        .navtop{
            height: 30px;
            .img{
                img{
                    height: 25px;
                    
                }
            }
            .links{
                a{
                    margin-left: 30px;
                    text-decoration: none;
                    color: #1b1b1b;
                    font-size: 15px;
                    font-weight: 200;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
            .bascet{
                i{
                    margin-left: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    sup{
                        font-size: 12px;
                    }
                }
                a{
                    margin-left: 20px;
                    text-decoration: none;
                    color: #1b1b1b;
                    span{

                    }
                }
            }
        }
    }
}





main{


    #head{
        .head{
            background-color: #f7f7f7;
            padding-top: 80px;
            padding-bottom: 80px;
            .text{
                h1{
                    font-size: 50px;
                    font-weight: 250;
                    font-style: italic;
                }
            }
        }
    }


    #first-tab{
        .first-tab{
            font-weight: 200;
            font-style: italic;
            padding-top: 100px;
            padding-bottom: 100px;
            button{
                color: #1b1b1b;
            }
            button:hover{
                background-color: #f34f3f;
                color: white;
            }
            .tab-pane{
                padding: 30px;
                border: 1px solid #ccc;
            }
                
            
            
        }
    }


    #second-tab{
        .second-tab{
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            font-weight: 200;
            font-style: italic;
            padding-top: 100px;
            padding-bottom: 100px;
                .nav{
                    button{
                        color: #1b1b1b;
                    }
                    button:hover{
                        background-color: #f34f3f;
                        color: white;
                    }
                    .active{
                        background-color: #f34f3f;
                        color: white;
                        border: 1px solid #ccc;
                    }
                
                }
            
        }
    }


    #third-tab{
        .third-tab{
            padding-top: 100px;
            padding-bottom: 100px;
            font-weight: 200;
            font-style: italic;
            .nav{
                button{
                    border: 1px solid #ccc;
                    border-radius: 0;
                    color: #1b1b1b;
                    background-color: white;
                    border: none;
                }
                button:hover{
                    background-color: #f34f3f;
                    color: white;
                    border: 1px solid #ccc;
                }
                .active{
                    background-color: #f34f3f;
                    color: white;
                    border: 1px solid #ccc;
                }
            }
        }
    }


}





footer{
    .footer{
        background-color: #fefaf3;
        height: 400px;
        .info{
            padding-top: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #8b8b8b;
            a{
                display: block;
                margin-top: 15px;
                color: #8b8b8b;
                text-decoration: none;
                font-size: 14px;
            }
            a:hover{
                color: #f34f3f;
            }
        }
        .main-info{
            p{
                color: #8b8b8b;
            }
            a{
                float: right;
                margin-left: 20px;
                text-decoration: none;
                color: #8b8b8b;
            }
            a:hover{
                color: #f34f3f;
            }
        }
    }
}